= simple_form_for @issue, html: { class: 'form-horizontal' },        |
  wrapper: :horizontal_form,                                         |
  wrapper_mappings: {                                                |
    check_boxes: :horizontal_radio_and_checkboxes,                   |
    radio_buttons: :horizontal_radio_and_checkboxes,                 |
    file: :horizontal_file_input,                                    |
    boolean: :horizontal_boolean                                     |
  } do |f|                                                           |
  = f.error_notification
  .form-group.customer_form
    = f.input :title, :input_html => {:required => true}
    = f.input :description, :input_html => {:required => true}
    = f.input :software_version, collection: Release.all, :label_method => :version, :value_method => :version, :selected => @issue.customer.deployments.includes(:release).order('deploy_date desc').first.release.version, :input_html => {:required => true}
    = f.hidden_field :user_id, value: @current_user.id
    = f.input :github_issue_number_reference
    = f.input :severity, collection: ["low", "medium", "high"], :input_html => {:required => true}
    = f.input :status, collection: ["new", "assigned", "resolved", "closed", "rejected"],:selected => "new", :input_html => {:required => true}
  .field.customer_form
    =f.label :reported_date, :style => "float:left; margin-right:31px; margin-left:-40px"
 
    = f.text_field :reported_date, as: :datepicker, type: "date", value: "#{Date.today}", :input_html => {:required => true}, class: 'form-control'
  .hidden 
    = f.association :customer, class: "hidden" 
  .actions.customer_update_button
    = f.submit @issue.new_record? ? "Submit" : "Submit", :class => 'btn btn-info' 