%h1 Issue Tracker
%hr
.tabbable
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#tab1"} Open Issues
    %li
      %a{"data-toggle" => "tab", :href => "#tab2"} Closed Issues
  .tab-content
    #tab1.tab-pane.active
      %table.table.table-bordered.table-hover
        - if @issues.where(:status => "new").length > 0 or @issues.where(:status => "assigned").length > 0 or @issues.where(:status => "resolved").length > 0 
          = render "issue_table_head"
          - @issues.each do |issue|
            - if issue.status == "new" or issue.status == "assigned" or issue.status == "resolved"
              %tbody
                %tr
                  %td= link_to issue.title, issue
                  %td= issue.reported_date
                  %td{:class => "#{issue.status}" }= issue.status
                  %td= link_to issue.customer.name, customer_path(issue.customer)
                  %td{:class => "#{issue.severity}" }= issue.severity
                  %td= issue.software_version
                  %td= link_to content_tag(:i,nil, :class=>"fa fa-trash-o"), issue, :method => :delete, :data => { :confirm => 'Are you sure?' }
        - elsif @issues.where(:status => "new").length == 0 or @issues.where(:status => "assigned").length == 0 or @issues.where(:status => "resolved").length == 0 
          = render "issue_table_body"

    #tab2.tab-pane
      %table.table.table-bordered.table-hover
        - if @issues.where(:status => "closed").length > 0 
          = render "issue_table_head"
          - @issues.each do |issue|
            - if issue.status == "closed"
              %tbody
                %tr
                  %td= link_to issue.title, issue
                  %td= issue.reported_date
                  %td{:class => "#{issue.status}" }
                    = issue.status
                    =content_tag(:i,nil, :class=>"fa fa-check")
                  %td= issue.customer.name
                  %td{:class => "#{issue.severity}" }= issue.severity
                  %td= issue.software_version
                  %td= link_to content_tag(:i,nil, :class=>"fa fa-trash-o"), issue, :method => :delete, :data => { :confirm => 'Are you sure?' }
        - elsif @issues.where(:status => "closed").length == 0 
          = render "issue_table_body"


%br
%div= will_paginate @issues, renderer: BootstrapPagination::Rails 
