%p
  %h1
    = @issue.title
    %small Issue for: #{@issue.customer.name} -- Running Version: #{@issue.software_version}
    %span.add_button
      - if can? :manage, Issue
        = link_to edit_issue_path(@issue), :class => "btn btn-primary btn-md" do
          %i.fa.fa-edit
          Edit Issue
        = link_to content_tag(:i,nil, :class=>"fa fa-trash-o fa-2x"), @issue, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary btn-sm"
  - if @issue.status == "new" or @issue.status == "assigned" or @issue.status == "resolved"
    %div{:class => "status status-#{@issue.status}"}
      =content_tag(:i,nil, :class=>"fa fa-clock-o")
      = best_in_place @issue, :status, type: :select, collection: ["new", "assigned", "resolved", "closed"]
  - elsif @issue.status == "closed"
    %div{:class => "status status-#{@issue.status}"}
      =content_tag(:i,nil, :class=>"fa fa-check")
      = best_in_place @issue, :status, type: :select, collection: ["new", "assigned", "resolved", "closed"]

  %span{:class => "status severity severity-#{@issue.severity}"}
    =content_tag(:i,nil, :class=>"fa fa-exclamation-triangle")
    = best_in_place @issue, :severity, type: :select, collection: ["low", "medium", "high"]
  %span
    %strong #{@issue.reporter_name} 
    opened this issue on #{@issue.reported_date} 
  %span
    %strong &nbsp; · &nbsp; #{@issue.comments.size}
    comments
  %hr
.timeline-comment-wrapper
  .avatar_commenter=content_tag(:i,nil, :class=>"fa fa-user fa-3x")
  .timeline-comment
    .timeline-comment-header
      %strong #{@issue.reporter_name}
      commented #{time_ago_in_words(@issue.created_at)} ago

    .timeline-comment-text= @issue.description
  %hr

- @issue.comments.each do |comment|
  .timeline-comment-wrapper
    .avatar_commenter=content_tag(:i,nil, :class=>"fa fa-user fa-3x")
    .timeline-comment
      .timeline-comment-header
        %strong #{comment.user.username}
        commented #{time_ago_in_words(comment.created_at)} ago
        - if comment.user.id == current_user.id
          .delete-comment= link_to content_tag(:i,nil, :class=>"fa fa-trash-o"), comment, method: :delete, data: { confirm: 'Delete Discussion?' }, :class => "btn btn-default", :id=>"comment_delete"
          .edit-comment= link_to content_tag(:i,nil, :class=>"fa fa-pencil"), [:edit, @issue, comment], :class => "btn btn-default", :id=>"comment_delete"

      .timeline-comment-text= markdown(comment.body)


    %hr

.timeline-comment-wrapper
  .avatar_commenter=content_tag(:i,nil, :class=>"fa fa-comment fa-3x")
  = render 'comments/form'


%span.btn.btn-default.btn-xs
  = link_to issues_path do 
    %i.fa.fa-long-arrow-left
    Back