
= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]
%table.table.table-bordered.table-hover#customers_table
  %tr
    %th= sortable "name"
    %th Most Recent Deployment
    %th Version
  - for customer in @customers
    %tr
      %td= link_to customer.name, edit_customer_path(customer)
      %td= customer.deployments.collect { |a| a.deploy_date }.max
      %td= customer.releases.collect { |a| a.version }.max
%br
%div= will_paginate @customers, renderer: BootstrapPagination::Rails 