
= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]
%table.table.table-bordered.table-hover#customers_table
  %tr
    %th= sortable "name"
    %th Most Recent Deployment
    %th Version
  - for customer in @customers
    %tr
      - most_recent_deployment = customer.deployments.includes(:release).order('deploy_date desc').first
      %td= link_to customer.name, customer
      %td= most_recent_deployment ? most_recent_deployment.deploy_date : ""
      %td= most_recent_deployment ? most_recent_deployment.release.version : ""
%br
%div= will_paginate @customers, renderer: BootstrapPagination::Rails 