= simple_form_for @customer, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f|

  = f.error_notification

  .form-group.customer_form

    = f.simple_fields_for :users do |u|
      = u.input :username, :input_html => {:required => true}
      = u.input :email, :input_html => {:required => true}
      = u.input :password, :input_html => {:required => true}
      = u.input :password_confirmation, :input_html => {:required => true}
  .form-actions.customer_update_button
    = f.button :submit, "Submit", :class => "btn btn-info btn-md"