%h1
  Editing #{"#{@customer.name}"}
= render 'form'
%hr/
%h4
  Add Deployment for #{"#{@customer.name}"}
= render 'deployments/form'
%span.btn.btn-default.btn-xs
  = link_to customers_path do 
    %i.fa.fa-long-arrow-left
    Back
	
%span
  = link_to content_tag(:i,nil, :class=>"fa fa-trash-o"), @customer, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default btn-sm"
