

#login_body.col-md-6
#login_form.panel.panel-primary
  .panel-heading #{"#{@customer.name}"}
  .pannel-body
  .tabbable
    / Only required for left/right tabs
    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", :href => "#tab1"} Edit #{"#{@customer.name}"}
      %li
        %a{"data-toggle" => "tab", :href => "#tab2"} Add Deployment for #{"#{@customer.name}"}
    .tab-content
      #tab1.tab-pane.active
        = render 'form'
      #tab2.tab-pane
        = render 'deployments/form'


%span.btn.btn-default.btn-xs
  = link_to customers_path do 
    %i.fa.fa-long-arrow-left
    Back
	
%span
  = link_to content_tag(:i,nil, :class=>"fa fa-trash-o"), @customer, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default btn-sm"
