%h1 Listing Customers 

%table.table
  %thead
    %tr
      %th Name
      %th Most Recent Deployment
      %th Version
      %th{:colspan => 2}
  %tbody
    - @customers.each do |customer| 
      %tr
        %td= customer.name 
        %td= customer.deployments.collect { |a| a.deploy_date }.max
        %td= customer.releases.collect { |a| a.version }.max
        %td= link_to 'Edit Customer & Deployment', edit_customer_path(customer) 
        %td= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } 
      

%br

= link_to 'New Customer', new_customer_path
= link_to "Add Release", new_release_path
= link_to "Deployment History", deployments_path
= link_to "Release History", releases_path

