
%h1= t "customers.index.title"
%hr
= form_tag customers_path, :method => 'get', :id => "customers_search", :class => "form-search form-inline" do
  %p
    = text_field_tag :search, params[:search], :class => "form-control", :placeholder => "Search Customers"
    = submit_tag "Search", :name => nil, :class => "btn btn-info btn-md"
    %span.add_button
      = link_to new_customer_path, :class => "btn btn-success btn-md" do
        %i.fa.fa-plus
        Add Customer
  #customers= render 'customers'


= link_to 'Download CSV list', customers_path(format: :csv), :class => "btn btn-link"

