%h1 DadeSystems Customers 



= form_tag customers_path do 
  %table.table#customers_table
    %thead
      %tr
        %th Name
        %th 
          Most Recent Deployment
        %th 
          Version

        %tfoot
          %tr
            %th Name
            %th 
            %th Version

    %tbody
      - @customers.each do |customer| 
        - cache(customer) do
          %tr
            %td= link_to customer.name, edit_customer_path(customer)
            %td= customer.deployments.collect { |a| a.deploy_date }.max
            %td= customer.releases.collect { |a| a.version }.max



%br


= link_to 'Add Customer', new_customer_path, :class => "btn btn-link"
= link_to "Add Release", new_release_path, :class => "btn btn-link"
= link_to "Deployment History", deployments_path, :class => "btn btn-link"
= link_to "Release History", releases_path, :class => "btn btn-link"
= link_to 'Download CSV list', customers_path(format: :csv), :class => "btn btn-link"

