= simple_form_for(@release, :html => { class: "form-group" }) do |f|
  = f.error_notification

  .form-group
    
    = f.input :version

    = f.text_field :release_date, as: :datepicker, type: "date", value: "#{Date.today}", :required => true, class: 'form-control'
    %br

    = f.input :comments
  .actions
    = f.submit @release.new_record? ? "Submit" : "Submit Release", :class => 'btn btn-info' 
