.container
= simple_form_for(@release, html: { class: 'form-horizontal' }) do |f|
  - if @release.errors.any?
    #error_explanation
      %h2= "#{pluralize(@release.errors.count, "error")} prohibited this release from being saved:"
      %ul
        - @release.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    
    = f.input :version


    = f.input :comments
  .actions
    = f.submit @release.new_record? ? "Submit" : "Submit Release", :class => 'btn btn-info' 
