= simple_form_for(@release, :html => { class: "form-group" }) do |f|
  = f.error_notification

  .form-group
    
    = f.input :version


    = f.input :comments
  .actions
    = f.submit @release.new_record? ? "Submit" : "Submit Release", :class => 'btn btn-info' 
