= render "index_header"

%table.table.table-bordered.table-hover
  %thead
 
    %th=sort_link @search, :version, "Version"
    %th=sort_link @search, :release_date, "Release Date"
    %th Comments
    %th
    %th
  %tbody

  - @releases.each do |release|
    %tr
      %td= release.version
      %td= release.release_date
      %td= truncate(release.comments[0,40])
      %td= link_to content_tag(:i,nil, :class=>"fa fa-edit"), edit_release_path(release), :class => "btn btn-link"
      %td= link_to content_tag(:i,nil, :class=>"fa fa-trash-o"), release, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-link"

= render "index_footer"