%h1 Release History

%table.table.table-bordered.table-hover
  %thead
 
    %th Version
    %th Release Date
    %th Comments

  %tbody

  - @releases.each do |release|
    %tr
      %td= release.version
      %td= release.release_date
      %td= truncate(release.comments[0,40])


%br
%div= will_paginate @releases, renderer: BootstrapPagination::Rails 
%br

= link_to "Deployment History", deployments_path, :class => "btn btn-link"
