%h1 Listing Releases

%table.table
  %thead
 
    %th Version
    %th Comments
    %th
    %th
  %tbody

  - @releases.each do |release|
    %tr
      %td= release.version
      %td= release.comments
      %td= link_to content_tag(:i,nil, :class=>"fa fa-edit"), edit_release_path(release), :class => "btn btn-link"
      %td= link_to content_tag(:i,nil, :class=>"fa fa-trash-o"), release, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-link"

%br

= link_to 'Add Release', new_release_path, :class => "btn btn-link"
= link_to 'List of Customers', customers_path, :class => "btn btn-link"
