= render "index_header"


%table.table.table-bordered.table-hover
  %thead
 
    %th=sort_link @search, :version, "Version"
    %th=sort_link @search, :release_date, "Release Date"
    %th Comments

  %tbody

  - @releases.each do |release|
    %tr
      %td= release.version
      %td= release.release_date
      %td= truncate(release.comments[0,40])


= render "index_footer"