%h1 Release History

%table.table.table-bordered.table-hover
  %thead
 
    %th Version
    %th Release Date
    %th Comments
    %th
    %th
  %tbody

  - @releases.each do |release|
    %tr
      %td= release.version
      %td= release.release_date
      %td= truncate(release.comments[0,40])
      %td= link_to content_tag(:i,nil, :class=>"fa fa-edit"), edit_release_path(release), :class => "btn btn-link"
      %td= link_to content_tag(:i,nil, :class=>"fa fa-trash-o"), release, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-link"

%br
%div= will_paginate @releases, renderer: BootstrapPagination::Rails 
%br

= link_to 'List of Customers', customers_path, :class => "btn btn-link"
= link_to "Deployment History", deployments_path, :class => "btn btn-link"
= link_to 'Add Release', new_release_path, :class => "btn btn-link"