%p#notice= notice

%p
  %b Version:
  = @release.version
%p
  %b Comments:
  = @release.comments
%p
  %b date:
  = @release.release_date

= link_to 'Edit', edit_release_path(@release)
\|
= link_to 'Back', releases_path
