= simple_form_for @deployment, :validate => true, html: { class: 'form-horizontal' },     |
  wrapper: :horizontal_form,                                         |
  wrapper_mappings: {                                                |
    check_boxes: :horizontal_radio_and_checkboxes,                   |
    radio_buttons: :horizontal_radio_and_checkboxes,                 |
    file: :horizontal_file_input,                                    |
    boolean: :horizontal_boolean                                     |
  } do |f|                                                           |
  = f.error_notification
  .field.customer_form
    =f.label :deploy_date, :style => "float:left; margin-right:31px; margin-left:-167px"

    = f.text_field :deploy_date, as: :datepicker, type: "date", value: "#{Date.today}", :input_html => {:required => true}, class: 'form-control', :validate => { :presence => true, :uniqueness => true}

  .hidden
    = f.association :customer, value: @customer
  .form-group.customer_form
    = f.association :release, :label_method => :version, :value_method => :id,:input_html => {:required => true}
  .actions.customer_update_button
    = f.submit @deployment.new_record? ? "Submit" : "Submit Deployment", :class => 'btn btn-info' 