= simple_form_for(@deployment, html: {class: 'form-horizontal' }) do |f|
  - if @deployment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@deployment.errors.count, "error")} prohibited this deployment from being saved:"
      %ul
        - @deployment.errors.full_messages.each do |msg|
          %li= msg

  .field
    
    = f.text_field :deploy_date, as: :datepicker, type: "date", class: 'form-control'
    .field
    = f.hidden_field :customer    
    .field
    = f.association :release, :label_method => :version, :value_method => :id
  .actions
    = f.submit @deployment.new_record? ? "Submit" : "Submit Deployment", :class => 'btn btn-info' 
