%p#notice= notice

%p
  %b Deploy date:
  = @deployment.deploy_date
%p
  %b Customer:
  = @deployment.customer.name
%p
  %b Release Version:
  = @deployment.release.version
%p
  %b Release Notes:
  = @deployment.release.comments

= if can? :update, @deployment
  = link_to 'Edit', edit_deployment_path(@deployment)
%span.btn.btn-default.btn-xs
  = link_to deployments_path do 
    %i.fa.fa-long-arrow-left
    Back
