
%html
  %head
    %title Releasetrackerapp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

  

    .container
      .nav
      - if current_user
        Hello
        = current_user.username
        &nbsp;
        &nbsp;
        = link_to "Edit Profile", edit_user_path(current_user.id), :class => "btn btn-default btn-sm"
        = link_to "Logout", :logout, :class => "btn btn-default btn-sm"
      - else
        = link_to "Register", new_user_path, :class => "btn btn-default btn-sm" | 
        = link_to "Login", :login , :class => "btn btn-default btn-sm"

      %span.nav_lang
        Language:
        = link_to_unless_current "English", locale: "en" , :class => "btn btn-link"
        |
        = link_to_unless_current "Wookieespeak", locale: "wk" , :class => "btn btn-link"

      - if notice 
        %p.alert.alert-success=notice
      - if alert 
        %p.alert.alert-danger=alert

      = yield
