
%html
  %head
    %title Releasetrackerapp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      .nav
        Language:
        = link_to_unless_current "English", locale: "en" 
        |
        = link_to_unless_current "Wookieespeak", locale: "wk" 
        = yield
